@page "/"
@inject HttpClient ApiClient

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>Here goes the values</h1>
@if (values == null)
{
    <p>Nothing yet...</p>
}
else
{
    <ul>
        @foreach (var value in values)
        {
            <li>@value</li>
        }
    </ul>
}

@functions
{
    string[] values;

    protected override async Task OnInitAsync()
    {
        values = await ApiClient.GetJsonAsync<string[]>("/api/values");
    }
}
